In [2]:
#1.Write a code to create a string with your name and print it?
my_name = "jagrati"
print(my_name)

jagrati

In [5]:
#2.Write a code to find the length of the string "Hello World"
string = "Hello World"
length = len(string)
print(length)

11

In [6]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [7]:
# 4.Write a code to convert the string "hello" to uppercase.
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

In [8]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [9]:
# 6.Write a code to create a list with numbers 1 to 5 and print it.
my_list = list(range(1, 6))
print(my_list)

[1, 2, 3, 4, 5]

In [10]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [11]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [12]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [13]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [14]:
# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [15]:
# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [16]:
# 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

In [17]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

In [18]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")  # Create a tuple of fruits

if "kiwi" in fruits:
    print("Kiwi is in the tuple")
else:
    print("Kiwi is not in the tuple")

Kiwi is not in the tuple

In [19]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [20]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [21]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [22]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [24]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [25]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {
    "name": "Jagrati",
    "age": 21,
    "city": "india"
}

print(my_dict)

{'name': 'Jagrati', 'age': 21, 'city': 'india'}

In [26]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
my_dict = {'name': 'John', 'age': 25}

# Add the new key-value pair
my_dict["country"] = "USA"

print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
# 23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}

name_value = my_dict["name"]  # Access the value using the key "name"

print(name_value)

Alice

In [33]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del my_dict["age"]  # Remove the key-value pair with key "age"

print(my_dict)  # Output: {'name': 'Bob', 'city': 'New York'}

{'name': 'Bob', 'city': 'New York'}

In [34]:
# 25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}

if "city" in my_dict:
    print("The key 'city' exists in the dictionary")
else:
    print("The key 'city' does not exist in the dictionary")

The key 'city' exists in the dictionary

In [35]:
# 26.Write a code to create a list, a tuple, and a dictionary, and print them all.
# Create a list
my_list = [1, 2, 3, "apple", "banana"]

# Create a tuple
my_tuple = (10, 20, 30, "red", "green")

# Create a dictionary
my_dictionary = {"name": "Alice", "age": 30, "city": "Paris"}

# Print all three data structures
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dictionary)

List: [1, 2, 3, 'apple', 'banana']
Tuple: (10, 20, 30, 'red', 'green')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [37]:
# 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.
import random

# Generate 5 random numbers between 1 and 100
random_numbers = random.sample(range(5, 107), 5)

# Sort the numbers in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [25, 45, 46, 65, 78]

In [38]:
# 28.Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Access and print the element at the third index (index 2)
third_element = my_list[2]
print(third_element)

cherry

In [39]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Method 1: Using the `update()` method
dict1.update(dict2)  # Modifies dict1 in place
print("Combined dictionary (using update):", dict1)

# Method 2: Using the `**` operator (Python 3.5+)
combined_dict = {**dict1, **dict2}
print("Combined dictionary (using **):", combined_dict)

Combined dictionary (using update): {'a': 1, 'b': 2, 'c': 3, 'd': 4}
Combined dictionary (using **): {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [40]:
# 30. Write a code to convert a list of strings into a set.
list_of_strings = ["apple", "banana", "cherry", "apple", "banana"]

# Convert the list to a set
string_set = set(list_of_strings)

# Print the set
print(string_set)  # Output: {'apple', 'banana', 'cherry'}

{'banana', 'apple', 'cherry'}